//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 24 09:53:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RD_EMPTY" LOCATE = SITE "P34" LEVEL 1;
COMP "OTUBE<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "OTUBE<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "OTUBE<2>" LOCATE = SITE "P3" LEVEL 1;
COMP "OTUBE<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "OTUBE<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "OTUBE<5>" LOCATE = SITE "P139" LEVEL 1;
COMP "OTUBE<6>" LOCATE = SITE "P7" LEVEL 1;
COMP "OTUBE<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "OTUBE<8>" LOCATE = SITE "P15" LEVEL 1;
COMP "OTUBE<9>" LOCATE = SITE "P14" LEVEL 1;
COMP "RD_VALID" LOCATE = SITE "P35" LEVEL 1;
COMP "OTUBE<10>" LOCATE = SITE "P21" LEVEL 1;
COMP "OTUBE<11>" LOCATE = SITE "P17" LEVEL 1;
COMP "OTUBE<12>" LOCATE = SITE "P22" LEVEL 1;
COMP "OTUBE<13>" LOCATE = SITE "P23" LEVEL 1;
COMP "OTUBE<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "OTUBE<15>" LOCATE = SITE "P26" LEVEL 1;
COMP "TUBE3A<0>" LOCATE = SITE "P53" LEVEL 1;
COMP "TUBE3A<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "TUBE3A<2>" LOCATE = SITE "P67" LEVEL 1;
COMP "TUBE3A<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "TUBE3B<0>" LOCATE = SITE "P54" LEVEL 1;
COMP "TUBE3A<4>" LOCATE = SITE "P76" LEVEL 1;
COMP "TUBE3B<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "TUBE3A<5>" LOCATE = SITE "P81" LEVEL 1;
COMP "TUBE3B<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "TUBE3A<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "TUBE3B<3>" LOCATE = SITE "P75" LEVEL 1;
COMP "TUBE3A<7>" LOCATE = SITE "P87" LEVEL 1;
COMP "TUBE4A<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "TUBE3B<4>" LOCATE = SITE "P77" LEVEL 1;
COMP "TUBE4A<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "TUBE3B<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "TUBE4A<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "TUBE3B<6>" LOCATE = SITE "P86" LEVEL 1;
COMP "TUBE4A<3>" LOCATE = SITE "P103" LEVEL 1;
COMP "TUBE3B<7>" LOCATE = SITE "P88" LEVEL 1;
COMP "TUBE4B<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "TUBE4A<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "TUBE4B<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "TUBE4A<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "TUBE4B<2>" LOCATE = SITE "P96" LEVEL 1;
COMP "TUBE4A<6>" LOCATE = SITE "P116" LEVEL 1;
COMP "TUBE4B<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "TUBE4A<7>" LOCATE = SITE "P119" LEVEL 1;
COMP "TUBE4B<4>" LOCATE = SITE "P106" LEVEL 1;
COMP "TUBE4B<5>" LOCATE = SITE "P113" LEVEL 1;
COMP "TUBE4B<6>" LOCATE = SITE "P117" LEVEL 1;
COMP "TUBE4B<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "overflowLight" LOCATE = SITE "P20" LEVEL 1;
COMP "RD_EN" LOCATE = SITE "P56" LEVEL 1;
COMP "RD_CLK" LOCATE = SITE "P33" LEVEL 1;
COMP "clk100" LOCATE = SITE "P126" LEVEL 1;
COMP "SCIN_COIN" LOCATE = SITE "P128" LEVEL 1;
NET "clk100_IBUFG1" BEL "clk100_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
PIN
        ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>
        = BEL
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B"
        PINNAME CLKB;
PIN
        ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>
        = BEL
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B"
        PINNAME CLKB;
PIN
        ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[2].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>
        = BEL
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[2].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B"
        PINNAME CLKB;
TIMEGRP D_CLK = BEL "tube4B7/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B7/shiftReg_7" BEL "tube4B6/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B6/shiftReg_7" BEL "tube4B5/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B5/shiftReg_7" BEL "tube4B4/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B4/shiftReg_7" BEL "tube4B3/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B3/shiftReg_7" BEL "tube4B2/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B2/shiftReg_7" BEL "tube4B1/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B1/shiftReg_7" BEL "tube4B0/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4B0/shiftReg_7" BEL "tube4A7/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A7/shiftReg_7" BEL "tube4A6/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A6/shiftReg_7" BEL "tube4A5/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A5/shiftReg_7" BEL "tube4A4/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A4/shiftReg_7" BEL "tube4A3/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A3/shiftReg_7" BEL "tube4A2/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A2/shiftReg_7" BEL "tube4A1/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A1/shiftReg_7" BEL "tube4A0/Mshreg_shiftReg_7/SRL16E" BEL
        "tube4A0/shiftReg_7" BEL "tube3B7/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B7/shiftReg_7" BEL "tube3B6/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B6/shiftReg_7" BEL "tube3B5/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B5/shiftReg_7" BEL "tube3B4/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B4/shiftReg_7" BEL "tube3B3/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B3/shiftReg_7" BEL "tube3B2/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B2/shiftReg_7" BEL "tube3B1/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B1/shiftReg_7" BEL "tube3B0/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3B0/shiftReg_7" BEL "tube3A7/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A7/shiftReg_7" BEL "tube3A6/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A6/shiftReg_7" BEL "tube3A5/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A5/shiftReg_7" BEL "tube3A4/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A4/shiftReg_7" BEL "tube3A3/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A3/shiftReg_7" BEL "tube3A2/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A2/shiftReg_7" BEL "tube3A1/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A1/shiftReg_7" BEL "tube3A0/Mshreg_shiftReg_7/SRL16E" BEL
        "tube3A0/shiftReg_7" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_NOLUT6.I_SRL_T2.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_NOLUT6.I_SRL_T2.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_NOLUT6.I_SRL_T2.I_NO_RPM.I_YES_OREG.OUT_REG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL2" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL3" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_CR" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_STATE1" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_STATE0" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_ARM" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_FULL" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_ECR" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_RISING" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "ila/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_POR" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "ila/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[0].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[1].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[2].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[3].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[4].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[5].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[6].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[7].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[8].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[9].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[10].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[11].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[12].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[13].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[14].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[15].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[16].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[17].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[18].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[19].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[20].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[21].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[22].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[23].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[24].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[25].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[26].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[27].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[28].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[29].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[30].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[31].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[32].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[33].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[34].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[35].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[36].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[37].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[38].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[39].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[40].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[41].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[42].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[43].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[44].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[45].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[46].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[47].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[48].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[49].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[50].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[51].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[52].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[53].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[54].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[55].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[56].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[57].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[58].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[59].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[60].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[61].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[62].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_YES_IREG.F_TW[63].U_IREG"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GAND.U_match/I_SRL16.U_GAND_SRL16/I_TW_GTE8.F_TW[7].I_NO_RPM.I_OREG.U_OREG"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.FF"
        BEL "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[16].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[17].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[18].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[19].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[20].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[21].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[22].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[23].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[24].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[25].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[26].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[27].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[28].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[29].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[30].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[31].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[32].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[33].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[34].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[35].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[36].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[37].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[38].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[39].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[40].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[41].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[42].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[43].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[44].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[45].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[46].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[47].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[48].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[49].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[50].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[51].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[52].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[53].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[54].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[55].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[56].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[57].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[58].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[59].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[60].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[61].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[62].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[63].I_SRLT_NE_0.FF"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[16].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[17].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[18].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[19].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[20].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[21].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[22].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[23].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[24].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[25].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[26].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[27].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[28].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[29].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[30].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[31].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[32].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[33].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[34].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[35].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[36].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[37].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[38].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[39].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[40].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[41].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[42].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[43].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[44].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[45].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[46].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[47].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[48].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[49].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[50].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[51].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[52].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[53].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[54].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[55].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[56].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[57].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[58].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[59].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[60].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[61].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[62].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[63].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY" BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "ila/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL "ila/U0/I_NO_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "ila/U0/I_TQ0.G_TW[63].U_TQ" BEL "ila/U0/I_TQ0.G_TW[62].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[61].U_TQ" BEL "ila/U0/I_TQ0.G_TW[60].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[59].U_TQ" BEL "ila/U0/I_TQ0.G_TW[58].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[57].U_TQ" BEL "ila/U0/I_TQ0.G_TW[56].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[55].U_TQ" BEL "ila/U0/I_TQ0.G_TW[54].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[53].U_TQ" BEL "ila/U0/I_TQ0.G_TW[52].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[51].U_TQ" BEL "ila/U0/I_TQ0.G_TW[50].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[49].U_TQ" BEL "ila/U0/I_TQ0.G_TW[48].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[47].U_TQ" BEL "ila/U0/I_TQ0.G_TW[46].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[45].U_TQ" BEL "ila/U0/I_TQ0.G_TW[44].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[43].U_TQ" BEL "ila/U0/I_TQ0.G_TW[42].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[41].U_TQ" BEL "ila/U0/I_TQ0.G_TW[40].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[39].U_TQ" BEL "ila/U0/I_TQ0.G_TW[38].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[37].U_TQ" BEL "ila/U0/I_TQ0.G_TW[36].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[35].U_TQ" BEL "ila/U0/I_TQ0.G_TW[34].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[33].U_TQ" BEL "ila/U0/I_TQ0.G_TW[32].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[31].U_TQ" BEL "ila/U0/I_TQ0.G_TW[30].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[29].U_TQ" BEL "ila/U0/I_TQ0.G_TW[28].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[27].U_TQ" BEL "ila/U0/I_TQ0.G_TW[26].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[25].U_TQ" BEL "ila/U0/I_TQ0.G_TW[24].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[23].U_TQ" BEL "ila/U0/I_TQ0.G_TW[22].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[21].U_TQ" BEL "ila/U0/I_TQ0.G_TW[20].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[19].U_TQ" BEL "ila/U0/I_TQ0.G_TW[18].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[17].U_TQ" BEL "ila/U0/I_TQ0.G_TW[16].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[15].U_TQ" BEL "ila/U0/I_TQ0.G_TW[14].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[13].U_TQ" BEL "ila/U0/I_TQ0.G_TW[12].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[11].U_TQ" BEL "ila/U0/I_TQ0.G_TW[10].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[9].U_TQ" BEL "ila/U0/I_TQ0.G_TW[8].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[7].U_TQ" BEL "ila/U0/I_TQ0.G_TW[6].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[5].U_TQ" BEL "ila/U0/I_TQ0.G_TW[4].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[3].U_TQ" BEL "ila/U0/I_TQ0.G_TW[2].U_TQ" BEL
        "ila/U0/I_TQ0.G_TW[1].U_TQ" BEL "ila/U0/I_TQ0.G_TW[0].U_TQ" PIN
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>"
        PIN
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[1].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>"
        PIN
        "ila/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[2].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i.B_pins<10>";
TIMEGRP D2_CLK = BEL "ila/U0/I_NO_D.U_ILA/U_STAT/U_DIRTY_LDC";
TIMEGRP U_CLK = BEL "icon/U0/U_ICON/U_iDATA_CMD";
NET "clk50" PERIOD = 20 ns HIGH 50%;
NET "clk100_IBUFG1" PERIOD = 10 ns HIGH 50%;
TS_U_TO_U = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "U_CLK" 15 ns;
TIMEGRP "FFS" = FFS(*);
PATH TS_D2_TO_T2_path = FROM TIMEGRP "D2_CLK" TO TIMEGRP "FFS";
PATH "TS_D2_TO_T2_path" TIG;
PATH TS_J2_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J2_TO_D2_path" TIG;
PATH TS_J3_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J3_TO_D2_path" TIG;
PATH TS_J4_TO_D2_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J4_TO_D2_path" TIG;
PIN
        icon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS_pins<2>
        = BEL
        "icon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS"
        PINNAME SHIFT;
PIN
        "icon/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3.U_BS_pins<2>"
        TIG;
SCHEMATIC END;

