//! **************************************************************************
// Written by: Map P.20131013 on Tue Jul 25 17:49:47 2017
//! **************************************************************************

SCHEMATIC START;
COMP "RD_EMPTY" LOCATE = SITE "P34" LEVEL 1;
COMP "OTUBE<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "OTUBE<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "OTUBE<2>" LOCATE = SITE "P3" LEVEL 1;
COMP "OTUBE<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "OTUBE<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "OTUBE<5>" LOCATE = SITE "P139" LEVEL 1;
COMP "OTUBE<6>" LOCATE = SITE "P7" LEVEL 1;
COMP "OTUBE<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "OTUBE<8>" LOCATE = SITE "P15" LEVEL 1;
COMP "OTUBE<9>" LOCATE = SITE "P14" LEVEL 1;
COMP "RD_VALID" LOCATE = SITE "P35" LEVEL 1;
COMP "OTUBE<10>" LOCATE = SITE "P21" LEVEL 1;
COMP "OTUBE<11>" LOCATE = SITE "P17" LEVEL 1;
COMP "OTUBE<12>" LOCATE = SITE "P22" LEVEL 1;
COMP "OTUBE<13>" LOCATE = SITE "P23" LEVEL 1;
COMP "OTUBE<14>" LOCATE = SITE "P25" LEVEL 1;
COMP "OTUBE<15>" LOCATE = SITE "P26" LEVEL 1;
COMP "TUBE3A<0>" LOCATE = SITE "P53" LEVEL 1;
COMP "TUBE3A<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "TUBE3A<2>" LOCATE = SITE "P67" LEVEL 1;
COMP "TUBE3A<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "TUBE3B<0>" LOCATE = SITE "P54" LEVEL 1;
COMP "TUBE3A<4>" LOCATE = SITE "P76" LEVEL 1;
COMP "TUBE3B<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "TUBE3A<5>" LOCATE = SITE "P81" LEVEL 1;
COMP "TUBE3B<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "TUBE3A<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "TUBE3B<3>" LOCATE = SITE "P75" LEVEL 1;
COMP "TUBE3A<7>" LOCATE = SITE "P87" LEVEL 1;
COMP "TUBE4A<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "TUBE3B<4>" LOCATE = SITE "P77" LEVEL 1;
COMP "TUBE4A<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "TUBE3B<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "TUBE4A<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "TUBE3B<6>" LOCATE = SITE "P86" LEVEL 1;
COMP "TUBE4A<3>" LOCATE = SITE "P103" LEVEL 1;
COMP "TUBE3B<7>" LOCATE = SITE "P88" LEVEL 1;
COMP "TUBE4B<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "TUBE4A<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "TUBE4B<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "TUBE4A<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "TUBE4B<2>" LOCATE = SITE "P96" LEVEL 1;
COMP "TUBE4A<6>" LOCATE = SITE "P116" LEVEL 1;
COMP "TUBE4B<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "TUBE4A<7>" LOCATE = SITE "P119" LEVEL 1;
COMP "TUBE4B<4>" LOCATE = SITE "P106" LEVEL 1;
COMP "TUBE4B<5>" LOCATE = SITE "P113" LEVEL 1;
COMP "TUBE4B<6>" LOCATE = SITE "P117" LEVEL 1;
COMP "TUBE4B<7>" LOCATE = SITE "P120" LEVEL 1;
COMP "overflowLight" LOCATE = SITE "P20" LEVEL 1;
COMP "RD_EN" LOCATE = SITE "P56" LEVEL 1;
COMP "RD_CLK" LOCATE = SITE "P33" LEVEL 1;
COMP "clk100" LOCATE = SITE "P126" LEVEL 1;
COMP "SCIN_COIN" LOCATE = SITE "P128" LEVEL 1;
NET "clk100_IBUFG1" BEL "clk100_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk50" PERIOD = 20 ns HIGH 50%;
NET "clk100_IBUFG1" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

